<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="picPath" value="F:\Projects\WindowsFormsApplication1\Desktop-watermark\WindowsFormsApplication1\Resources\20171121113815.png"/>
        <add key="opacity" value= "0.1" />
    </appSettings>
</configuration>